body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #00162E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #00244D;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

.img {
    width: 80px;
    margin: 10px 0;
}

.senha-box input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 10px 0;
}

.controle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

#gerar {
    width: 100%;
    background: #0075FF;
    color: white;
}